@model NoMoreYoyo.Models.BodyAttributesViewModel
@{
    ViewData["Title"] = "Body Attributes";
}

<div class="card">
    <div class="card-body">
        <h1>@ViewData["Title"]</h1>
        @using (Html.BeginForm("SaveMeasurement", "Public", FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.DropDownListFor(model => model.SelectedMeasurementType, Model.MeasurementTypes, "- Select Measured Body Part -", new { @class = "form-control" })
            <br />
            @Html.TextBoxFor(model => model.Value, new { @class = "form-control", @type = "number" });
            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
            <br />
            <button type="submit" class="form-control">Save</button>
        }
        <hr />
        @using (Html.BeginForm("GetGraph", "Public", FormMethod.Post, new { @class = "form-group" }))
        {
            @Html.DropDownListFor(model => model.SelectedBodypart, Model.MeasuredBodypart, "- Select Measured Body Part -", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MeasuredBodypart, "", new { @class = "text-danger" })
            <br />
            <button type="submit" class="form-control">Show Graph</button>
        }

        <script type="text/javascript">
            var data = [];
        @foreach (int i in Model.BodyPartData)
        {

           @:data.push(@i);
        }

        </script>
        <script src="~/js/public/Graph.js"></script>
    </div>
</div>
