@model NoMoreYoyo.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-4 pt-lg-5 align-self-start">
                @using (Html.BeginForm("SignIn", "Public", FormMethod.Post, new { @class = "form-group" }))
                {
                    @Html.LabelFor(model => model.EmailOrUserName, new { @class = "form-check-label text-uppercase" });
                    @Html.TextBoxFor(model => model.EmailOrUserName, new { @class = "form-control" });
                    @Html.ValidationMessageFor(model => model.EmailOrUserName, "", new { @class = "text-danger" })
                    <br />
                    @Html.LabelFor(model => model.Password, new { @class = "form-check-label text-uppercase" });
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" });
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <br />
                    <button type="submit" class="form-control btn-primary">Sign In</button>
                    <a href="/Public/SignUp">Don't have an account? Sign up here!</a>
                }
            </div>
        </div>
    </div>
</div>